body {
    background-color: #121212;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    margin: 0;
}

/* Estilo de la tarjeta (formulario) */
.card {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 400px;  
    box-shadow: 0 0 15px rgba(0, 188, 212, 0.3);
}

/* Estilo de los botones */
.btn-primary {
    background-color: #00bcd4;
    border: none;
}

.btn-primary:hover {
    background-color: #0097a7;
}

.btn-secondary {
    background-color: #757575;
    border: none;
}

.btn-secondary:hover {
    background-color: #616161;
}

/* Estilo de los enlaces */
a {
    color: #00bcd4;
}

a:hover {
    color: #0097a7;
    text-decoration: none;
}

/* Estilo de los campos de entrada */
.form-control, .form-select {
    background-color: #2c2c2c; 
    color: white;
    border: 1px solid #00bcd4; 
    padding: 0.75rem; 
    font-size: 1rem; 
    border-radius: 0.5rem; 
}

.form-control::placeholder, .form-select::placeholder {
    color: #fffdfd; 
}

.form-control:focus, .form-select:focus {
    border-color: #0097a7; 
    box-shadow: 0 0 5px rgba(0, 188, 212, 0.5); 
}

/* Estilo de las etiquetas */
.form-label {
    color: #00bcd4; 
    font-weight: bold; 
    margin-bottom: 0.5rem;
}