<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
{% block title %}Libros{% endblock %}
{% block content %}
  <h2>Libros</h2>
  <div class="row">
    {% for libro in libros %}
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ libro.titulo }}</h5>
            <p class="card-text">ISBN: {{ libro.isbn }}</p>
            <p class="card-text">Categoría: {{ libro.categoria.nombre_categoria }}</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

</body>
</html> -->
