<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Préstamo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
   
    {% extends 'base.html' %}
    {% block title %}Préstamos{% endblock %}
    {% block content %}
      <h2>Préstamos</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Libro</th>
            <th>Usuario</th>
            <th>Fecha de Préstamo</th>
            <th>Fecha de Devolución</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for prestamo in prestamos %}
            <tr>
              <td>{{ prestamo.copia.libro.titulo }}</td>
              <td>{{ prestamo.usuario.nombre }}</td>
              <td>{{ prestamo.fecha_prestamo }}</td>
              <td>{{ prestamo.fecha_devolucion }}</td>
              <td>{{ prestamo.estado }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endblock %}
    
</body>
</html>
 -->
