<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
{% block title %}Reportes{% endblock %}
{% block content %}
  <h2>Reportes</h2>
  
  <!-- Reporte de Libros -->
  <h3>Libros</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>ISBN</th>
        <th>Categoría</th>
      </tr>
    </thead>
    <tbody>
      {% for libro in libros %}
        <tr>
          <td>{{ libro.titulo }}</td>
          <td>{{ libro.isbn }}</td>
          <td>{{ libro.categoria.nombre_categoria }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Reporte de Usuarios -->
  <h3>Usuarios</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
        <tr>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.correo }}</td>
          <td>{{ usuario.rol.nombre_rol }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Reporte de Préstamos -->
  <h3>Préstamos</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Libro</th>
        <th>Usuario</th>
        <th>Fecha de Préstamo</th>
        <th>Fecha de Devolución</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for prestamo in prestamos %}
        <tr>
          <td>{{ prestamo.copia.libro.titulo }}</td>
          <td>{{ prestamo.usuario.nombre }}</td>
          <td>{{ prestamo.fecha_prestamo }}</td>
          <td>{{ prestamo.fecha_devolucion }}</td>
          <td>{{ prestamo.estado }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Reporte de Reservas -->
  <h3>Reservas</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Libro</th>
        <th>Usuario</th>
        <th>Fecha de Reserva</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for reserva in reservas %}
        <tr>
          <td>{{ reserva.libro.titulo }}</td>
          <td>{{ reserva.usuario.nombre }}</td>
          <td>{{ reserva.fecha_reserva }}</td>
          <td>{{ reserva.estado }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

</body>
</html> -->
